.row{
    background-color: blue;
    width: 940px;
    height: 3px;
    margin-left: 10px;
    text-align: center;
}
.menuMin{
    display: flex;
    width: 970px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: -20px;
    
}
.menu_title{
    margin-left: 30px;
    color: blue;
}
.nav ul li {
    
    display: inline;
    justify-content: space-between;
}
.nav ul li a{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: rgb(23, 22, 26);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}